$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//DO I NEED THIS????
@import "scss/bootstrap-extras.scss";

@import "scss/bits.scss";
@import "scss/nav.scss";
@import "scss/typography.scss";
@import "scss/home.scss";
@import "scss/svg.scss";




a:hover {
  text-decoration: none;
}
body {
  background-color: #135b75;
}



// .container {
//   @include container-fixed;

//   @media (min-width: $screen-sm-min) {
//     width: $container-sm;
//   }
//   @media (min-width: $screen-md-min) {
//     width: $container-md;
//   }
//   @media (min-width: $screen-lg-min) {
//     width: $container-lg;
//   }
