// Colors
$white: #FFF;
$mainBlue: #2ca4da;
$secondaryBlue: #135b75;
$buttonOne: #cc6257;
$transBlue: rgba(19,91,117,0.8);

// Buttons
.hollow-button {
  color: $mainBlue;
  border:2px solid $mainBlue;
  padding:10px 20px;
  display:inline-block;
  margin:20px 0;
  font-weight:bold;
  transition: 0.3s all ease;
  &:hover {
    background-color: $mainBlue;
    color: $white;
    font-weight:bold;
    transition: 0.3s all ease;
  }
}