@-webkit-keyframes slidedown {
  100% { top: 0%; }
}
@-webkit-keyframes slideup {
  100% { top: -27%; }
}

.header {
    position: fixed;
    width:100%;
    background-color: $white;
    z-index: 3;
    top: -27%;
    h3 {
        font-weight: 300;
        color: $mainBlue;
        padding: 20px 0;
        display: inline-block;
    }

    a {
        font-weight: 600;
        color: $mainBlue;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 2px;
          opacity:0;
          background: $mainBlue;
          transform: translateY(5px);
          transition: transform 0.3s, opacity 0.3s;
          pointer-events: none;
        }
      
        &:hover:after {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    li {
      padding:30px 15px;
    }
    .logo {
      width:30px;
      margin-top: -10px;
      margin-right: 10px;
}
    }
    .signup {
      padding: 20px 0 20px 10px!important;;
      a{
      padding:10px 15px;
      background-color: $buttonOne;
      color: $white;
      transform-style: preserve-3d;
      &:hover {
        transform: rotateX(15deg);
      }
      &:after {
        display:none;
      }
    }
  

}


.slidedown {
 -webkit-animation: slidedown 0.25s forwards;  
}

