// MOUNTAINS
#mountains {
  width: 75%;
  
}
@-webkit-keyframes move-right-left {
  100% { transform: translateX(0em)}
}

@-webkit-keyframes move-up {
  100% { transform: translateY(0em) }
}

#mountain-left {
  transform: translateX(2em);
}
#mountain-right {
 transform: translateX(-2em); 
}
#flag {
  transform: translateY(4em);
}
.ani #mountain-left, .ani #mountain-right {
  /*transform: translateX(0.5em);*/
   -webkit-animation: move-right-left 1s forwards;
}
.ani #flag {
 -webkit-animation: move-up 1s 0.25s forwards;
  
}


/*POCKETKNIFE*/
#pocketknife {
  width: 50%;
}
@-webkit-keyframes rotate {
  100% { 
    transform: rotate(0deg); 
    
  }
}

#knife-left {
  transform: rotate(120deg) translatey(0.5em);
  -webkit-transform-origin: 50px 50px;
 
}
#knife-right {
  transform: rotate(-100deg) translateX(2em);
  -webkit-transform-origin: 75px 75px;
 
}

#hook {
  transform: rotate(100deg) translateX(8em);
  -webkit-transform-origin: 50px 50px;
 
}

.ani #knife-left {
 -webkit-animation: rotate 1s  forwards;
}
.ani #knife-right {
 -webkit-animation: rotate 1s 0.5s forwards;
}
.ani #hook {
 -webkit-animation: rotate 1s 0.5s forwards;
}


/*LANTERN*/
#lantern {
  width: 43%;
}
@-webkit-keyframes rotate {
  100% { 
    transform: rotate(0deg); 
    
  }
}

#bar-left {
  transform: translateX(2em);
  -webkit-transform-origin: 50px 50px;

}
#bar-right {
  transform: translateX(-2em);
  -webkit-transform-origin: 75px 75px;
 
}
#flame {
  transform: translateY(3em);
  -webkit-transform-origin: 50px 50px;
 
}

.ani #bar-left {
 
 -webkit-animation: rotate 1s  forwards;
}
.ani #bar-right {

 -webkit-animation: rotate 1s forwards;
}
.ani #flame {

 -webkit-animation: rotate 1s 0.5s forwards;
}